.colorbox{
	text-decoration:bold;
	color: white;
	width: 150px;
 	height: 50px;
	border: 1px solid black;
	padding:10px;

}

#red{
	background-color:red;
	margin:10px;
}

#orange{
	 background-color:orange;
	 margin:10px 10px 10px 30px;	 
}

#yellow{
	 text-shadow:1px 1px black;
	 background-color: yellow;
	 margin:10px 10px 10px 60px;	
}

#green{
	 background-color:green;	
	 margin:10px 10px 10px 90px;	 
}

#blue{
	 background-color:blue;
 	 margin:10px 10px 10px 120px;	
}

#violet{
	 background-color: violet;
	 margin:10px 10px 10px 150px;	

}
