.hit{
    margin-top: 9px;
    position: relative;
    text-align: center;
}
.miss{
    margin-top: 9px;
    text-align: center;

}
body{
    background-color: peachpuff;
}
h1{
    text-align: center;
}
